sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4.0"
  - "5.0"
before_script:
  - npm install -g jshint
  - npm install -g mocha
  - npm install -g istanbul
  - npm install -g istanbul-coveralls
  - npm install -g nodeunit
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
